// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status{
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p{
	margin: 4px 0;
}

.status.hover {
	/*di hover background nya berubah*/
	background: #F0F0F0;
}

.status .admin{
	/*edit delete tidak dimunculkan*/
	display: none;
}

.status.hover .admin{
	/*edit delete di munculkan*/
	display: inline;
}

